{% extends '/student/base.html' %}
{% block head %}
<title>student Chat</title>
{% endblock %}
{% block body %}
<div class="container">
    <form method="POST">
        <div class="form-group">
            <label for="message">Message</label>
            <input required name="M" placeholder="message" type="text" class="form-control" id="message">
        </div>
        <button type="submit" class="btn btn-primary">Add Notice</button>
    </form>
</div>
<br>
<br>
{% for message in messages %}
<div class="jumbotron">
    {% if message['User Name'] == user_name %}
    <h4> Message : <b> {{ message['Message'] }} </b> </h4>
    <br>
    <h4> Name : <b> {{ message['User Name'] }} </b> </h4>
    <br>
    <a href="/Admin//Chat/Delete/{{message['_id']}}" class="btn btn-danger">Delete</a>
    {% else %}
    <h4> Message : <b> {{ message['Message'] }} </b> </h4>
    {% endif %}
    <h4> Time : <b> {{ message['time'] }} </b> </h4>
</div>
{% endfor %}
{% endblock %}