{% extends '/admin/base.html' %}
{% block head %}
<title>Admin Home</title>
<style>
    .card {
        display: inline-block !important;
    }

    .right {
        float: right;
        color: black;
    }

    .left {
        float: left !important;
        color: black !important;
        padding: 50px !important;
        width: 1150px !important;
        height: 900px !important;
    }

    body {
        background-color: white !important;
    }
</style>
{% endblock %}
{% block body %}
<div style="background-color: white !important;">
    <div class="left">
        <br>
        <h1>
            <b>Welcome to myClassRoom.
            </b>
        </h1>
        <h1><b>Vidura College</b></h1>
        <h1><b>Grade 8-A</b></h1>
    </div>
    <div class="right" style="background-color: white !important;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFLlQMX89G-CJxqqAcsOITqgJVM-Pb9yAWOA&usqp=CAU"
            alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFLlQMX89G-CJxqqAcsOITqgJVM-Pb9yAWOA&usqp=CAU"
            width="755" height="900" class="img">
    </div>
</div>
{% endblock %}