body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  background-color: gray;
  color: white;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}

.banner {
  width: 80%;
  height: 70%;
  top: 25%;
  left: 250px;
  position: absolute;
  color: white;
}

.app-text {
  width: 50%;
  float: left;
}

.app-text h1 {
  font-size: 43px;
  width: 640px;
  position: relative;
  margin-left: 40px;
}

.app-text p {
  width: 650px;
  font-size: 15px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color: lightgray;
}

.app-pic {
  width: 50%;
  float: right;
}

.app-pic img {
  width: 100%;
  margin-top: -20px;
  padding-left: 49.5px;
}

.form {
  color: gray;
}

.flash_messages {
  border-radius: 25px;
}
body {
  background-color: gray !important;
}
