{% extends '/admin/base.html' %}
{% block head %}
<title>Admin Crd Notices</title>
{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <br>
        <form method="POST">
            <div class="form-group">
                <label for="user_name">Title</label>
                <input required name="T" placeholder="Title" type="text" class="form-control" id="user_name">
            </div>
            <div class="form-group">
                <label for="password">Description</label>
                <input required name="D" placeholder="Description" type="text" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Add Notice</button>
        </form>
        <br>
    </div>
    {% for notice in notices %}
    <br>
    <div class="jumbotron" style="color:black;">
        <hr>
        <h1>Title : {{ notice['Title'] }} <br> Description : {{ notice['Description'] }}</h1>
        <hr>
        <a href="/Admin/CRD/Notice/Delete/{{ notice['Title'] }}/{{ notice['Description'] }}"
            class="btn btn-danger">Delete</a>
        <hr>
    </div>
    {% endfor %}
</div>
{% endblock %}